/* MADE BY SLIZZARN - DISCORD: slizzarn#1144 GITHUB: https://github.com/slizzarn-fivem */

@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');

.menu {
	font-family: 'Poppins', sans-serif;
	min-width: 330px;
	color: #fff;
	position: absolute;
  padding: 8px;
  background: #000000b2;
  border-radius: 1px;
  -webkit-box-shadow: 10px 9px 42px -5px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 10px 9px 42px -5px rgba(0, 0, 0, 0.52);
box-shadow: 10px 9px 42px -5px rgba(0, 0, 0, 0.52);
}

.head {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 5px;
  margin-right: 0px;
}

.menu .head {
	text-align: center;
	height: 20px;
  color: #ffffff;
  font-weight: 300;
  font-size: 18px;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

.menu .menu-items {
	max-height: 300px;
	overflow-y: auto;
  font-weight: 500;
}

.menu .menu-items .menu-item {
	display: block;
  padding: 4px;
  font-size: 14px;
	text-align: center;
  text-indent: 5px;
  margin-top: 5px;
  color: #ffffff;
  border-radius: 1px;
}

.menu .menu-items .menu-item.selected {
  background-color: rgba(235, 235, 235, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.5);
  transition: 0.2s;
}

.head > span {
  position: relative;
  display: inline-block;
}

.head > span::before,
.head > span::after {
  content: "";
  position: absolute;
  top: 52%;
  width: 9999px;
  height: 0.5px;
  background: rgb(255, 255, 255);
}

.head > span::before {
  right: 105%;
  margin-right: 15px;
}

.head > span::after {
  left: 105%;
  margin-left: 15px;
}



.menu.align-left {
	left: 0%;
	top: 50%;
	transform: translate(0, -50%);
}

.menu.align-top-left {
	left: 40;
	top: 40;
}

.menu.align-top {
	left: 50%;
	top: 40;
	transform: translate(-50%, 0);
}

.menu.align-top-right {
	right: 10;
	top: 40;
}

.menu.align-right {
	right: 40;
	top: 50%;
	transform: translate(0, -50%);
}

.menu.align-bottom-right {
	right: 40;
	bottom: 40;
}

.menu.align-bottom {
	left: 50%;
	bottom: 40;
	transform: translate(-50%, 0);
}

.menu.align-bottom-left {
	left: 40;
	bottom: 40;
}

.menu.align-center {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* WebKit scrollbar properties */
::-webkit-scrollbar {
  width: 8px;
  border-left: 4px solid #272733;
}
::-webkit-scrollbar-track {
  background: linear-gradient(120deg,#000000,#434343);
  border-left: 4px solid #272733;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(120deg,#000000,#434343);
  border-left: 4px solid #272733;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(120deg,#000000,#434343);
  border-left: 4px solid #272733;
}

/* MADE BY SLIZZARN - DISCORD: slizzarn#1144 GITHUB: https://github.com/slizzarn-fivem */
